.answer-component {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-weight: normal;
  font-size: smaller;
}
.answer-component {
  cursor: pointer;
}
.answer-component:hover {
  background-color: #5C5C5C;
}