.firstscreen-component {
  padding: 10px;
}
.welcome-element {
  font-weight: 700;
  font-size: 200%;
  color: black;
  padding: 20px;
}
.msg-element {
  font-weight: 100;
  font-size: 80%;
  color: red;
}
.quiz-form-element {
  padding: 5px;
}
.btn-style{
  border : solid 1px #000000;
  border-radius : 3px;
  moz-border-radius : 3px;
  -webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
  -moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
  box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
  font-size : 20px;
  color : #ffffff;
  padding : 5px 17px;
  background : #5f6166;
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f6166), color-stop(100%,#00060a));
  background : -moz-linear-gradient(top, #5f6166 0%, #00060a 100%);
  background : -webkit-linear-gradient(top, #5f6166 0%, #00060a 100%);
  background : -o-linear-gradient(top, #5f6166 0%, #00060a 100%);
  background : -ms-linear-gradient(top, #5f6166 0%, #00060a 100%);
  background : linear-gradient(top, #5f6166 0%, #00060a 100%);
  filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f6166', endColorstr='#00060a',GradientType=0 );
}
.input-style {
  padding:5px;
  border:1px solid #222;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.input-style:focus {
  border-color:#222;
}