.results-component {
  margin-top: 30px;
}
.results-thankyou-text {
  margin-bottom: 30px;
}
.results-score {
  font-weight: 700;
  font-size: 200%;
  color: black;
}
.results-explanation {
  margin-top: 30px;
  font-weight: 600;
  font-size: 125%;
  color: black;
}