.wronganswer-component {
  margin-top: 20px;
  padding: 20px;
  font-weight: 500;
  font-size: larger;
  color: white;
}
.wronganswer-question {
  color: white;
}
.wronganswer-right {
  margin-top: 1px;
  padding: 1px;
  color: #77CCA4;
}
.wronganswer-wrong {
  margin-top: 1px;
  padding: 1px;
  color: #FF6600;
}
